<!--<app-data-table [dataSource]="dataSourceWordType"-->
<!--           [tableData]="tableWordData()"-->
<!--           [totalCount]="totalCount"-->
<!--           [selection]="selection"-->
<!--           [showSelection]="isShowSelection"-->
<!--           [columnsInitial]="displayedColumns"-->
<!--           [expandedElement]="expandedElement"-->
<!--           [columnsToDisplayWithExpandInput]="columnsToDisplayWithExpand"-->
<!--           [ceilTemplates]="displayedTemplates"-->
<!--           [expandTemplate]="expandTemplate"-->
<!--           [pageSizeOptions]="pageSizeOptions"-->
<!--           (pageChange)="onPageChange($event)"-->
<!--           (selectionResult)="onSelectionResult($event)"-->
<!--&gt;-->
<!--</app-data-table>-->
