<!--<app-table-widget>-->
<!--  <div ngProjectAs="filter" class="flex w-full">-->
<!--    <app-table-filter [filterId]="filterId"></app-table-filter>-->
<!--  </div>-->
<!--  <div ngProjectAs="actions" class="flex">-->
<!--&lt;!&ndash;    [wordsList]="wordTable"&ndash;&gt;-->
<!--    <app-words-table-actions (refreshTable)="wordTable.refreshTable()"-->
<!--                             ></app-words-table-actions>-->
<!--  </div>-->
<!--  <div ngProjectAs="content" class="mt-3">-->
<!--    <app-word-table #wordTable [filterId]="filterId"></app-word-table>-->
<!--  </div>-->
<!--</app-table-widget>-->


<!--<mat-card appearance="outlined">-->

<!--  <mat-card-header>-->
<!--    <div class="flex w-full flex-wrap">-->
<!--      <div class="w-full sm:w-1/2 lg:w-1/4">-->
<!--        <app-data-table-filter [filterId]="filterId"></app-data-table-filter>-->
<!--      </div>-->
<!--      <div class="w-full sm:w-1/2 lg:w-3/4">-->
<!--        <app-words-data-table-actions (refreshTable)="wordTable.refreshTable()"></app-words-data-table-actions>-->
<!--      </div>-->
<!--    </div>-->
<!--  </mat-card-header>-->

<!--  <mat-card-content>-->
<!--    <div class="mat-elevation-z8">-->
<!--      <app-word-table #wordTable [filterId]="filterId"></app-word-table>-->
<!--    </div>-->
<!--  </mat-card-content>-->

<!--</mat-card>-->

<app-word-management></app-word-management>
