.layout-main-wrapper {
  //box-sizing: border-box;
  //min-height: 100vh;
  //display: flex;
  //flex-direction: column;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;

  .container {
    //width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    overflow-y: auto;
    max-width: 100%;
  }
}

.layout-menu-container {
  //width: 260px;

  .layout-menu-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 100%;
    color: #fff;
    background-color: lighten(#5d70d6, 1);
  }
  .layout-menu-wrapper {
    width: 100%;
  }
}

.toolbar {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.footer {
  //margin-top: auto;
}
