<mat-dialog-content class="mat-typography mt-3">

  <h3>Login</h3>

  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <div class="flex flex-wrap mb-2">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Email address:</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email">
        <mat-error *ngIf="loginForm.controls['email'].hasError('email') && !loginForm.controls['email'].hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="loginForm.controls['email'].hasError('wrongUserEmail')">
          User with this email not found
        </mat-error>
      </mat-form-field>
    </div>

    <div class="flex flex-wrap mb-2">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
          Field is required
        </mat-error>
        <mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">
          Min length {{ loginForm.controls['password'].errors?.["minlength"]["requiredLength"] }}
        </mat-error>
        <mat-error *ngIf="loginForm.controls['password'].hasError('wrongPassword')">
          Wrong password
          {{ loginForm.controls['password'].errors?.["wrongPassword"]}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="flex flex-wrap" *ngIf="errors.length">
      <section>
        <app-error-message [errors]="errors"></app-error-message>
      </section>
    </div>

  </form>

  <section class="mt-4">
    <div class="another-links">
      <p>Don't have an account?
        <button mat-button (click)="toRegister()">Register</button>
      </p>
    </div>
  </section>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="flex flex-wrap w-full mt-3 justify-between">
    <button mat-raised-button color="primary"
            type="submit"
            (click)="cancel()"
    >Cancel</button>
    <button mat-flat-button color="primary"
            type="submit" (click)="login()"
            [disabled]="loginForm.invalid || isSubmit"
    >Login</button>
  </div>
</mat-dialog-actions>
