<section class="mt-4">
  <div class="links">
    <p>or enter with: </p>
    <div class="social">
      <button mat-raised-button color="primary"
              type="button"
              class="w-full mx-2" (click)="loginWithFacebook()"
      >Facebook <mat-icon>facebook</mat-icon></button>
      <button mat-raised-button color="accent"
              type="button"
              class="w-full mx-2" (click)="loginWithInstagram()"
      >Instagram <mat-icon>photo_camera</mat-icon></button>
    </div>
  </div>
</section>
