<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" (click)="menuClick()" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="example-spacer"></span>

  <ng-container *ngIf="isOver600px">
    <div class="user-info" *ngIf="userInfo() as user; else emptyUser">
      <div class="user-info-name text-base">{{ user.name.firstName + " " + user.name.lastName }}</div>
<!--      <div class="user-info-email">{{ user.email  || 'email'}}</div>-->
    </div>
  </ng-container>

  <ng-container *ngIf="userInfo()">
    <p class="text-base" matTooltip="Main / Translation">{{ userSettings()?.defaultLanguage}}/{{ userSettings()?.translationLanguage }}</p>
  </ng-container>

  <button *ngIf="userInfo()"
          mat-icon-button
          (click)="logout()" aria-label="Example icon-button with share icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<ng-template #emptyUser>
  <div id="emptyUser">
    <button mat-icon-button title="Login"
            (click)="login()" aria-label="Login button">
      <mat-icon>login</mat-icon>
    </button>
  </div>
</ng-template>
