.example-spacer {
  flex: 1 1 auto;
  width: 100%;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  text-align: end;
  min-width: 150px;

  .user-info-name {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    font-size: 1rem;
    height: 20px;
    margin-bottom: 5px;
    font-weight: normal;
  }

  .user-info-email {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    font-size: .8rem;
    height: 20px;
    font-weight: normal;
  }

}
